body, html{
	margin:0px;
	padding:0px;
}
html {
	background: #ccc;
	min-height: 100%
}
input:focus, select:focus, textarea:focus, button:focus{
    outline: none;
}

body {
	width: 360px;
	margin: 0 auto;
	border-left: solid 1px #aaa;
	border-right: solid 1px #aaa;
	background: white;
	min-height: 700px;
}
.nav{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	padding: 5px;
	height: 40px;

	background: #333333;

	/*border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;*/
}
.menu {
	line-height: 38px;
	float: left;
	margin-right: 35px;
	margin-left: 10px;
	
}
.menu:hover{
	border-radius: 5px;
	background:#335F76;

	padding: 10px 10px 10px 10px;
	margin-right:25px; 
	margin-left: 0;
}
.menu-text {
	font-size:27px;
	text-decoration:none;
	color:#fff;

}
.search{
	float: left;

	margin-left: 10px;
}
.search form input	{
	border: 1px solid #ccc;
	border-radius: 15px;
	padding: 0 18px;
	line-height: 30px;
	font-size: 16px;
	width:160px; 
}
.moving-background-container{	
	position: absolute;

	padding: 0;
	margin: 0;
}	
.moving-background{
	position: fixed;

	z-index: -1;
}
.calendar{
	margin-top: 105px;
	margin-bottom: 15px;

	text-align: center;
}
.x{
	font-size:20px;
}
.Y {
	font-size:30px;
	border-bottom: 1px solid gray;

	width:320px;
	margin: auto;
}
.slate-thing{
	margin-top: 5px;
	padding:15px;	
	font-size: 18px;
}
.slate-thing a{
	text-decoration:none;
	color:#861B8A;
}
.jpgs{
	margin:70px 10px 10px 10px;
}
.jpgs img{
	/*float:left;*/
	width: 100px;
	margin-right:auto; 
	float: left;
	margin-left: 5px;
	margin-right: 3px;
}
.text-Academy {
	padding-top: 8px;
	font-size: 27px;
	
	color: #31A0DA; 
}
.text-Open-source{
	font-size: 18px;

	color: #B49D94;
}
