body, html{
	margin:0px;
	padding:0px;
}
html {
	background: #ccc;
	min-height: 100%
}
input:focus, select:focus, textarea:focus, button:focus{
    outline: none;
}

body {
	width: 360px;
	margin: 0 auto;
	border-left: solid 1px #aaa;
	border-right: solid 1px #aaa;
	background: white;
	min-height: 700px;
}
.nav{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	padding: 5px;
	height: 40px;

	background: #333333;

	position: sticky;  
	top: 0px;
	/*border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;*/}
.menu {
	line-height: 38px;
	padding-left: 10px;
	padding-right: 10px;

	float: left;
	margin-right: 35px;
	margin-left: 10px;
}
.menu:hover{
	border-radius: 10px;
	background:#335F76;

}
.menu-text {
	font-size:27px;
	text-decoration:none;
	color:#fff;

}
.search{
	float: left;

	margin-left: 10px;
}
.search form input	{
	border: 1px solid #ccc;
	border-radius: 15px;
	padding: 0 18px;
	line-height: 30px;
	font-size: 16px;
	width:160px; 
}


.background_image {
	height: 241px;
	width: 360px;
	background-size: contain;
	position: fixed;
	z-index: 5;
}

.main_content {
	position: relative;
	z-index: 10;
}

.movbackground {
	background: white;
	margin-top: -28px;
}
}	
.moving-background{
	position: fixed;

	z-index: -1;
	
	height: 100px;}
.calendar{
	margin-top: 121px;
	margin-bottom: 15px;
	margin-left: 20px;
	
	text-align: center;
}
.x{
	font-size:18px;

	color:#9494AD; }
.calendar-text {
	text-align: left;
	border-bottom: 1px solid #D4D4D4;

	width:320px;}
.calendar-span{
	font-size:30px;
	padding-left: 25px;
}
.slate-thing{
	margin-top: 35px;
	padding:15px;	
	font-size: 12px;
	font-family: Lato, "Lucida Grande", Verdana, "Helvetica Neue", sans-serif;

	border:2px solid #D4D4D4;
	background: #E5EBEE;
}
.slate-thing a{
	text-decoration:none;
	color:#861B8A;
}
.container-logo{
	padding: 15px 15px 25px 15px;
	
	background: rgba(233, 233, 233, 0.9);
}
.logo {
	margin:10px 10px 5px 10px;}
.logo img{
	/*float:left;*/
	width: 110px;
	margin-right:auto; 
	float: left;
	margin-left: 5px;
	margin-right: 3px;
}
.text-Academy {
	padding-top: 8px;
	font-size: 27px;
	color: #31A0DA;
}
.text-Open-source{
	font-size: 18px;

	color: #B49D94;
}
