body{
    font-family: times;
    font-family:'Crimson Text', serif;	
}
.header {
	background: black;
	line-height: 40px;
	height: 40px;
	color: white;
}
.mainContent{

}

.block{

		    margin-top: 60px;    
		    margin-bottom: 60px;
			height: 100px;
			width: 60px;
			padding: 100px;
			background-color: white;
			border: 20px solid gray;
			border-radius: 100%;
			text-align: center;
			font-family: sans-serif;
}

.inline {
            background-color: white;
            font-size: 40px;
            font-style: 40px;
            font-weight: 40px;
            font-family: 40px;
            text-decoration: line-through;
 }

.footer {





	
}
.portfolio-colors {
	padding:10px;
	color: white;
}

.portfolio-colors div {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	text-align: center;
	line-height: 30px;
	float: left;
	margin-right: 8px;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
}



.standards_container {
	width: 300px;
}

.standards_container .headline {
	background:#a6a297;
	padding-left: 12px;
}

.standards_container .subhead {
	background:#ff00fb;
	padding-left: 12px;
}

.standards_container .content {
	background:#f5f3f0;
	padding-left: 12px;
}


