body{
    font-family: times;
    font-family:'Crimson Text', serif;	
}
.header {
	background: black;
	line-height: 40px;
	height: 40px;
	color: white;
}
.spmainContent{
	padding-top: 60px;
	border-top: 1px solid gray;
	margin-top: 0px;
	display: flex;
	flex-direction: row;
}

.block{

		    margin-top: 60px;    
		    margin-bottom: 60px;
			height: 100px;
			width: 60px;
			padding: 100px;
			background-color: white;
			border: 20px solid gray;
			border-radius: 100%;
			text-align: center;
			font-family: sans-serif;
}

.inline {
            background-color: white;
            font-size: 40px;
            font-style: 40px;
            font-weight: 40px;
            font-family: 40px;
            text-decoration: line-through;
 }
/*Grading System Index (No Evidence, Entering, Progressing, Graduation Benchmark, Advancing, Excelling, Beyond Assessment)*/
/* DEFINE COLORS */
.ne, .en, .pr, .gb, .ad, .ex, .ba{
	border: solid 1px #020202;
}

.ne { 
	background: #9da39e;
	border-radius: 3px;
}
.en {
	background: #d94181;
	border-radius: 3px;
}

.pr {
	background: #ff7d00;
	border-radius: 3px;
}

.gb {
	background: #38a719;
	border-radius: 3px;
}

.ad {
	background: #008cc1;
	border-radius: 3px;
}

.ex {
	background: #6320ca;
	border-radius: 3px;
}

.ba {
	background: #0040ff;
	border-radius: 3px;
}

.portfolio-colors .container_left {
	width: 90vh;
}

.portfolio-colors .container_right {
	width: 26%;
	margin-bottom: 10px;
}

.portfolio-colors {
	padding:10px;
	color: white;
}

.portfolio-colors div {
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	float: left;
	margin-right: 8px;
	font-family: 'Lato', sans-serif;
	font-size: 12px;	
}

@media screen and (width: 480px) {
	.standard_container{
	}
	.content{
		display: flex;
		 flex-direction: column;
	}

}

.ne, .en, .pr, .gb, .ad, .ex, .ba{
border: solid 1px #020202;
}

.standard_container .ne{ 
	background: #9da39e;
	border-radius: 3px;
}
.standard_container .en {
	background: #d94181;
	border-radius: 3px;
}

.standard_container .pr {
	background: #ff7d00;
	border-radius: 3px;
}

.standard_container .gb {
	background: #38a719;
	border-radius: 3px;
}

.standard_container .ad {
	background: #008cc1;
	border-radius: 3px;
}

.standard_container .ex {
	background: #6320ca;
	border-radius: 3px;
}

.standard_container .ba {
	background: #0040ff;
	border-radius: 3px;
}

.standard_container .headline {
	background:#808080;
	padding-left: 12px;
}

.standard_container .headline .courseNum {
	color: white;
	font-size: 25px;
	line-height: 45px;
	text-shadow: 1px 1px #666;
}

.standard_container .headline .courseName {
	font-size: 20px;
	color: #ddd;
	text-shadow: 1px 1px #666;
	padding-left: 10px;

}

.standard_container .subhead {
	padding-left: 12px;
	color: white;
	text-shadow: 1px 1px #666;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 35px;

}


.standard_container .content {
	background:#f5f3f0;
	padding: 20px 12px;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	border-bottom: solid 1px #ccc;
	
}

.standard_container .content .creditsFrame{
	padding: 15px 20px 0px;
}

.standard_container .content .credit {
	display: inline-block;
	width: 110px;
	border: solid 1px #ccc;
	height: 30px;
	vertical-align: top;
	line-height: 30px;
	text-align: center;
	color: white;
    text-shadow: 1px 1px #555;
    font-weight: bold;
    border: solid 1px #020202;
}
.standard_container {
	/*width: 450px;
	border-radius: 7px;
	overflow: hidden;
	-webkit-box-shadow: 4px 10px 33px 5px rgba(255,255,255,0.11);
	-moz-box-shadow: 4px 10px 33px 5px rgba(255,255,255,0.11);
	box-shadow: 4px 10px 33px 5px rgba(255,255,255,0.11);
	margin-top: 30px;
	margin-left: 100px;
    margin-right: 10px;*/
    display: grid;
}

 .modge-podge {
 	padding-top: 60px; 
 	margin: auto;
 	max-width: 245px;
 }

.contactustinyfont{
	font: normal normal 400 16px/1.5 Lato,"Lucida Grande",Verdana,"Helvetica Neue",sans-serif;
    text-rendering: optimizeLegibility;
    color: #646464;
    font-size: 12px;
    letter-spacing: .5px;
    text-transform: uppercase;
}
.contactusmainfont{
	color: #333;
    font-weight: 300;
    font: normal normal 400 16px/1.5 Lato,"Lucida Grande",Verdana,"Helvetica Neue",sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 30px;
    margin-bottom: 20px; 
    margin: 20px;
}
.textInput {
	padding: 5px;
	border: solid 1px #ccc;
	width: 220px;
}
.textInput2 {
	height: 100px;
	width: 230px;
}
.boxcontactus{
	width: 95%;
	overflow: hidden;
	box-shadow: 1px 1px 1px 1px gray;
	box-decoration-break: #e6e2d8;
	margin-left: 0px;
    margin-right: 10px;
    margin: 0px;

}
.sendbutton{
	background-color: #31a0da;
    color: #fff;
    border: none;
    border-bottom: 1px solid rgba(51,51,51,0.2);
    text-align: center;
    font-size: 15px;
    width: 60px;
    height: 25px;
}
.slatedashboard{
	color: #333;
    font: normal normal 400 16px/1.5 Lato,"Lucida Grande",Verdana,"Helvetica Neue",sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 25px;
    margin: 0px auto;
	padding: 0 15px;
	margin: 0px auto;
	display: flex;
	flex-direction: column;
	
}

.slatedashboard .row{
	display: inline-block;
}

.slatedashboard .row2{
	display: inline-block;
	position: relative;
}

.slatedashboard .container_right {
	max-width: 500px;
}

.container.right, .container.left {
    display: flex;
	flex-direction: column;
	border: 1px solid #333333;
	border-radius: 5px;	
	-webkit-box-shadow: 5px 7px 6px 0px rgba(102,102,102,0.41);
	-moz-box-shadow: 5px 7px 6px 0px rgba(102,102,102,0.41);
	box-shadow: 5px 7px 6px 0px rgba(102,102,102,0.41);
}
@media screen and (max-width: 400px) {

	.slatedashboard {
		width: auto;
	}
	
	.slatedashboard .container_left {
		float: none;
		width: 100vh;
		display: flex;
		flex-direction: column;
	}

	.slatedashboard .container_right {
		float: none;
		width: 100%;
	}
}



.slatedashboard .pageTitle {
	font-size: 30px;
	margin: 50px;
	border-bottom: solid 1px #ccc;
    margin-left: 10px;
    margin-right: 10px;
}

.slatedashboard .section {
    box-sizing: border-box;
    padding: 5px 0;
    border-radius: 0px;
    display: inline-block;
    text-align: center;
   	width: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    height: 260px;
    
}

.slatedashboard .section2 {
    box-sizing: border-box;
    padding: 5px 0;
    border-radius: 0px;
    display: inline-block;
    text-align: center;
   	width: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    height: 260px;
    
}


.slatedashboard .section .title {
    padding: 5px 0;
    font-size: 22px;
    border-bottom: solid 1px #ccc;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    width: 500px;
    display: flex;
    flex-direction: column;
    display: inline-block;
}

.slatedashboard .flex{
	display: flex;
	flex-direction: row;
	width: 500px;
	margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.slatedashboard .tinyfont{
	color: #949494;
	font-size: 0.875em;
	display: inline-block;
	position: absolute;
	left: 0px;
	bottom: -50px;
}

.slatedashboard .normalfont{
	color: #333;
	font-size: 15px;
	font: normal normal 400 16px/1.5 Lato,"Lucida Grande",Verdana,"Helvetica Neue",sans-serif;
	display: inline-block;
	position: absolute;
	left: 10px;
	bottom: -100px;
}

.slatedashboard .section .body {
    padding: 5px 0;
    font-size: 14px;
}

.slatedashboard .section .iconFrame {
    padding: 15px 0;
}

.slatedashboard .section .default_icon {
	width: 90px; height: 90px; 
	background: #31A0DA; 
	border: solid 1px #31A0DA; border-radius: 25px;
	margin: 0 auto 10px;
}

.dashboardLink {
	font-size: 14px;
	text-align: center;
	color: black;
	text-decoration: none;
	width: 100px;
	display: block;
	padding: 5px;
	height: 160px;
	display: flex;
	flex-direction: column;
	float: left;
}

.dashboardLink:hover {
	color: blue;
}


.calendarstuff{
	float: right;
}


.taskdashboard{
	width: 80%;
	/*padding: 0 15px;*/
	margin: 0px auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	display: inline-block;
	
}
@media screen and (max-width: 500px){
.taskdashboard{
	width: 100%;	
}
}

.taskdashboard .container {
	width: 60vh;
	margin-right: 30px;
}

.taskdashboard .container.left {
	/*float: left;*/
	background-color: #e3e3e3;
	height: 100%

}

.taskdashboard .container.right {
	/*float: right;*/
	/*height: 150px;*/
}


.taskdashboard .headline{
	background:#808080;
	padding-left: 12px;
}

.taskdashboard .headline .select-block {
	margin: 11px 8px;
	float: right;
}

.taskdashboard .courseNum{
	color: white;
	font-size: 25px;
	line-height: 45px;
	text-shadow: 1px 1px #666;
}
.taskdashboard .courseName{
	font-size: 20px;
	color: #ddd;
	text-shadow: 1px 1px #666;
	padding-left: 10px;
}
.taskdashboard .subhead{
	background: #d6d3c9;
	padding-left: 12px;
	color: gray;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 35px;
}

.taskdashboard .subhead2{
	background: #f2efe6;
	padding-left: 12px;
	color: gray;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 35px;
	height: 60px;
 	text-align: center
}
.taskdashboard .content{
	background: #f5f3f0;
	padding: 20px 12px;
	font-family: 'inherit', sans-serif;
	font-size: 15px;
	border-bottom: solid 1px #ccc;
}
.taskdashboard .other{
	padding: 15px 20px 0px;
}
.taskdashboard .other2{
	display: inline-block;
	width: 31%;
	border: solid 1px #ccc;
	height: 30px;
}
.textstuff{
	float: right;
}
.taskdashboardtinyfont{
	font: normal normal 400 16px/1.5 Lato,"Lucida Grande",Verdana,"Helvetica Neue",sans-serif;
    text-rendering: optimizeLegibility;
	margin-top: 0px;
    color: #646464;
    font-size: 12px;
    letter-spacing: .5px;
    text-transform: uppercase;
}

.taskdashboard-item{
	height: 30px;
	width: 200px;
	background-color: white;
	color: #333;
    font-size: 16px;
    font-weight: 400;
    font-family: Lato;
}
.taskdashboard-nub4,.taskdashboard-nub3,.taskdashboard-nub2,.taskdashboard-nub {
	align-items: center;
    border-radius: 0.25em 0 0 0.25em;
    display: flex;
    font-size: 1.5em;
    font-weight: bold;
    justify-content: center;
    width: 1em;
    height: 40px;
    float: left;
}
.taskdashboard-nub{
	background-color: #8bd7f4;

}
.taskdashboard-nub2{
	background-color: #b2d681;

}
.taskdashboard-nub3{
	background-color: #f17a62;

}
.taskdashboard-nub4{
	background-color: #fbf372;
}
.taskdashboard-container{
	width: 400px;
	margin: 0px;		
}
.taskdashboard-category{
	border-radius: 0 0.4375em 0 0;
    color: #949494;
    font-size: 0.75em;
    margin-bottom: -0.75em;
    padding: 0.625em 0.875em 0;
    text-transform: uppercase;
    margin: 0px;
    margin-left: 20px;
    margin-right: 20px;
}
.taskdashboard-title{
	/*flex: 1;*/
	display: inline-block;
	line-height: 1.33333;
	color: #333;
    font-size: 16px;
    font-family: Lato;
    /*margin-left: 30px;
    margin-right: 30px;*/
}
/*.taskdashboard-statussetup{
	float: right;
	height: 10px;
}*/
.taskdashboard-status{
	background-color: #a2dff6;
	border-radius: 0.25em 0 0 0.25em;
    margin-left: 1em;
    align-items: center;
    display: flex;
    font-size: 0.8125em;
    justify-content: center;
    padding: 0.125em 0.5em;
    line-height: 1.33333;
    font-family: Lato;
    font-weight: 400;
    float: right;
}
.taskdashboard-status2{
	background-color: #bedc94;
	border-radius: 0.25em 0 0 0.25em;
    margin-left: 1em;
    align-items: center;
    display: flex;
    font-size: 0.8125em;
    justify-content: center;
    padding: 0.125em 0.5em;
    line-height: 1.33333;
    font-family: Lato;
    font-weight: 400;
    float: right;
}
.taskdashboard-status3{
	background-color: #f38e79;
	border-radius: 0.25em 0 0 0.25em;
    margin-left: 1em;
    align-items: center;
    display: flex;
    font-size: 0.8125em;
    justify-content: center;
    padding: 0.125em 0.5em;
    line-height: 1.33333;
    font-family: Lato;
    font-weight: 400;
    float: right;
}
.taskdashboard-status4{
	background-color: #fbf372;
	border-radius: 0.25em 0 0 0.25em;
    margin-left: 1em;
    align-items: center;
    display: flex;
    font-size: 0.8125em;
    justify-content: center;
    padding: 0.125em 0.5em;
    line-height: 1.33333;
    font-family: Lato;
    font-weight: 400;
    float: right;
}
.taskdashboard-date{
	background-color: #d1effb;
	border-radius: 0 0.25em 0.25em 0;
    font-weight: bold;
    align-items: center;
    display: flex;
    font-size: 0.8125em;
    justify-content: center;
    padding: 0.125em 0.5em;
    line-height: 1.33333;
    font-family: Lato;
    float: right;
}
.taskdashboard-date2{
	background-color: #d5e9ba;
	border-radius: 0 0.25em 0.25em 0;
    font-weight: bold;
    align-items: center;
    display: flex;
    font-size: 0.8125em;
    justify-content: center;
    padding: 0.125em 0.5em;
    line-height: 1.33333;
    font-family: Lato;
    float: right;
}
.taskdashboard-date3{
	background-color: #f7b5a8;
	border-radius: 0 0.25em 0.25em 0;
    font-weight: bold;
    align-items: center;
    display: flex;
    font-size: 0.8125em;
    justify-content: center;
    padding: 0.125em 0.5em;
    line-height: 1.33333;
    font-family: Lato;
    float: right;
}
.taskdashboard-date4{
	background-color: #fcf58b;
	border-radius: 0 0.25em 0.25em 0;
    font-weight: bold;
    align-items: center;
    display: flex;
    font-size: 0.8125em;
    justify-content: center;
    padding: 0.125em 0.5em;
    line-height: 1.33333;
    font-family: Lato;
    float: right;
}
.taskdashboard-data{
	background-color: white;
    cursor: pointer;
    flex: 1;
    display: block;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    font-family: Lato;
    line-height: 1.5;
    height: 30px;
}

.text{
    background: white;
}

.taskdashboard-row{
	border: solid 1px #ccc;
	height: 75px;
	font-family: sans-serif;
}

.taskdashboard-item{
	margin-top: 0.75em;
	margin: 0;
	display: list-item;
}
.upcomingeventsmainfont{
	color: #333;
    font-weight: 300;
    line-height: 1;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font: normal normal 400 16px/1.5 Lato,"Lucida Grande",Verdana,"Helvetica Neue",sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 30px;
}

.accordion {
	max-width: 500px;
	border: solid 1px #ccc;
	font: normal normal 400 16px/1.5 Lato,"Lucida Grande",Verdana,"Helvetica Neue",sans-serif;
	font-size: 22px;
	text-align: center;
	border-radius: 3px;
	box-shadow: 0 0.125em 0.375em rgba(0,0,0,0.2);
	margin-bottom: 15px;

}

.competencyaccordion {
	width: 100px;
	margin: 10px;
	border: solid 1px #ccc;
	font: normal normal 400 16px/1.5 Lato,"Lucida Grande",Verdana,"Helvetica Neue",sans-serif;
	font-size: 22px;
	text-align: center;
	border-radius: 3px;

	box-shadow: 0 0.125em 0.375em rgba(0,0,0,0.2);

}

.accordion .title {
	padding: 5px;
	background: rgb(49, 160, 218);
	color: white;
	cursor: pointer;
	border-bottom: solid 1px white;
}

.accordion .body {
	padding: 5px;
	font-size: 15px;
	line-height: 25px;
	display: none;
	background: rgba(148, 148, 148, 0.08);
}
