body{
    font-family: times;
    font-family:'Crimson Text', serif;	
}
.header {
	background: black;
	line-height: 40px;
	height: 40px;
	color: white;
}
.mainContent{
	padding-top: 60px;
	border-top: 1px solid gray;
}

.block{

		    margin-top: 60px;    
		    margin-bottom: 60px;
			height: 100px;
			width: 60px;
			padding: 100px;
			background-color: white;
			border: 20px solid gray;
			border-radius: 100%;
			text-align: center;
			font-family: sans-serif;
}

.inline {
            background-color: white;
            font-size: 40px;
            font-style: 40px;
            font-weight: 40px;
            font-family: 40px;
            text-decoration: line-through;
 }

.portfolio-colors {
	padding:10px;
	color: white;
}

.portfolio-colors div {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	text-align: center;
	line-height: 30px;
	float: left;
	margin-right: 8px;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
}



.standard_container {
	width: 400px;
	border-radius: 7px;
	overflow: hidden;
	box-shadow: 2px 3px 4px 1px black;
}

.standard_container .headline {
	background:#808080;
	padding-left: 12px;
}

.standard_container .headline .courseNum {
	color: white;
	font-size: 25px;
	line-height: 45px;
	text-shadow: 1px 1px #666;
}


.standard_container .headline .courseName {
	font-size: 20px;
	color: #ddd;
	text-shadow: 1px 1px #666;
	padding-left: 10px;

}


.standard_container .subhead {
	background: #b30086;
	padding-left: 12px;
	color: white;
	text-shadow: 1px 1px #666;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 35px;

}

.standard_container .content {
	background:#f5f3f0;
	padding: 20px 12px;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	border-bottom: solid 1px #ccc;
}

.standard_container .content .creditsFrame{
	padding: 15px 20px 0px;
}

.standard_container .content .credit {
	display: inline-block;
	width: 31%;
	border: solid 1px #ccc;
	height: 30px;
}

.contactustinyfont{
	font: normal normal 400 16px/1.5 Lato,"Lucida Grande",Verdana,"Helvetica Neue",sans-serif;
    text-rendering: optimizeLegibility;
	margin-top: 0;
    color: #646464;
    font-size: 12px;
    letter-spacing: .5px;
    text-transform: uppercase;
}
.contactusmainfont{
	color: #333;
    font-weight: 300;
    line-height: 1;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font: normal normal 400 16px/1.5 Lato,"Lucida Grande",Verdana,"Helvetica Neue",sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 30px;
}
.textInput {
	padding: 5px;
	border: solid 1px #ccc;
	width: 300px;
}
.textInput2 {
	height: 100px;
	width: 310px;
}
.boxcontactus{
	width: 350px;
	overflow: hidden;
	box-shadow: 1px 1px 1px 1px gray;
	box-decoration-break: #e6e2d8;
}
.sendbutton{
	background-color: #31a0da;
    color: #fff;
    border: none;
    border-bottom: 1px solid rgba(51,51,51,0.2);
    text-align: center;
    font-size: 15px;
    width: 100px;
    height: 50px;
    float: right;
}
.slatedashboard{
	color: #333;
    font: normal normal 400 16px/1.5 Lato,"Lucida Grande",Verdana,"Helvetica Neue",sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 25px;

    max-width: 500px;
    margin: 0 auto;

}

.slatedashboard .pageTitle {
	font-size: 30px;
}

.slatedashboard .section {
    box-sizing: border-box;
    padding: 5px 0;
    border-radius: 7px;
}

.slatedashboard .section .title {
    padding: 5px 0;
    font-size: 22px;
    border-bottom: solid 1px #ccc;
}

.slatedashboard .section .body {
    padding: 5px 0;
    font-size: 14px;
}

.slatedashboard .section .iconFrame {
    padding: 15px 0;
}


.dashboardLink {
	font-size: 14px;
	text-align: center;
	color: black;
	text-decoration: none;
	width: 90px;
	display: block;
	float: left;
	padding: 5px;
	height: 140px;

}

.dashboardLink:hover {
	color: blue;
}


.calendarstuff{
	float: right;
}

.taskdashboard{
	max-width: 1000px;
	padding: 0 15px;
	margin: 0px auto;
	
}

.taskdashboard .container {
	width: 45%;
	box-shadow: 2px 3px 4px 1px black;
	margin: 40px 0;

}

.taskdashboard .container.left {
	float: left;
	width: 500px; 
}

.taskdashboard .container.right {
	float: right;
	width: 500px;
}


.taskdashboard .headline{
	background:#808080;
	padding-left: 12px;
}

.taskdashboard .headline .select-block {
	margin: 11px 8px;
	float: right;
}

.taskdashboard .courseNum{
	color: white;
	font-size: 25px;
	line-height: 45px;
	text-shadow: 1px 1px #666;
}
.taskdashboard .courseName{
	font-size: 20px;
	color: #ddd;
	text-shadow: 1px 1px #666;
	padding-left: 10px;
}
.taskdashboard .subhead{
	background: #d6d3c9;
	padding-left: 12px;
	color: gray;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 35px;
}

.taskdashboard .subhead2{
	background: #f2efe6;
	padding-left: 12px;
	color: gray;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 35px;
	height: 60px;
 	text-align: center
}
.taskdashboard .content{
	background: #f5f3f0;
	padding: 20px 12px;
	font-family: 'inherit', sans-serif;
	font-size: 15px;
	border-bottom: solid 1px #ccc;
}
.taskdashboard .other{
	padding: 15px 20px 0px;
}
.taskdashboard .other2{
	display: inline-block;
	width: 31%;
	border: solid 1px #ccc;
	height: 30px;
}