html, body{
		margin: 0px;
		padding: 0px;
		width: 100%;
	-webkit-font-smoothing: antialiased;
 	-moz-osx-font-smoothing: grayscale;
 	z-index:2;
 	background: #fff
}
body{
	position: absolute;
}
.bottombackground: {
	background: #000000;
	height: 30vw;
	width: 100%;
}
.nav{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	height: 40px;

	background: #333333;

	position: fixed;  
	top: 0px;
	
	z-index: 30;
	width: 100%;
	/*border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;*/
	}

.menu {
	line-height: 38px;
	padding-left: 10px;
	padding-right: 10px;

	float: left;
	margin-right: 35px;
	margin-left: 10px;
	position: relative;
}
.menu:hover{
	border-radius: 10px;
	background:#335F76;

}
.menu-text {
	font-size:20px;
	text-decoration:none;
	color:#fff;
}

.dropdown_menu {
	position: absolute;
	width: 180px;
	top: 41px;
   	box-shadow: 10px 10px 5px grey;

    border-radius: 7px;

    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.2);
    display: none;

	background: #ccc;
	overflow: hidden;

	z-index: 20;
}
.menu .dropdown_menu a {
	padding: 0 20px;
	font-weight: bold;
	text-decoration: none;	
	display: block;
	border-top: solid 1px #eee;
	border-bottom: solid 1px #888;
	color: black;
	font-size: medium;
}

.menu .dropdown_menu a:first-child {
	border-top: none;
}
.menu .dropdown_menu a:last-child {
	border-bottom: none;
}
.menu .dropdown_menu a:hover {
	background: #ddd;
}
.menu:hover .dropdown_menu {
	display: block;

}
.nav .Search{
	float: left;

	margin: 5px 0 5px 10px;
}
.nav .Search form input{
	border-radius: 15px;

	border: 1px solid #ccc;
	
	padding: 0 0 0 8px;
	line-height: 30px;
	font-size: 16px;
	width:160px;
	height: 27px; 
}
.calendar{
	padding: 25px 20px;
	background: white;
	text-align: center;
	display: inline-block;
}
.calendar-text {
	text-align: unset;
	width:320px;}
.calendar-span{
	font-size:30px;
	padding-left: unset;
	padding-right: 35px;
}
.slate-thing{
	margin-top: 35px;
	padding:15px;	
	font-size: 12px;
	font-family: Lato, "Lucida Grande", Verdana, "Helvetica Neue", sans-serif;

	border:2px solid #D4D4D4;
	background: #E5EBEE;
}
.slate-thing a{
	text-decoration:none;
	color:#861B8A;
}


.container-logo{
	padding: 15px 15px 25px 15px;
	
	background: rgba(233, 233, 233, 0.9);
}
.logo {
	margin:10px 10px 5px 10px;}
.logo img{
	/*float:left;*/
	width: 110px;
	margin-right:auto; 
	float: left;
	margin-left: 5px;
	margin-right: 3px;
}
.text-Academy {
	padding-top: 8px;
	font-size: 27px;
	color: #31A0DA;
}
.text-Open-source{
	font-size: 18px;

	color: #B49D94;
}
.main_content {
	position: relative;
}
/*Upcoming Events*/
.upcomingeventscontainer {
	margin-top: 70px;
}
.upcomingevents {
display: inline-block;
 margin-left: 30px;
}
.upcomingevents span{
	font-size: 30px;
	font-family: 'Crimson Text', serif;
}
/*footer.css*/
.footer{

}
