html, body{
		margin: 0px;
		padding: 0px;
		width: 100%;
	-webkit-font-smoothing: antialiased;
 	-moz-osx-font-smoothing: grayscale;
 	
 	z-index:2;
 	background: #fff
}
body{
	position: absolute;
}
/*.taskcolumn{
	width: 80%;
	padding: 0 15px;
	margin: 0px auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	display: inline-block;
}

@media screen and (max-width: 500px){
.taskcolumn{
	width: 100%;	
}
}

.taskcolumn .container {
	width: 60vh;
	margin-right: 30px;
}

.taskcolumn .container.left {
	float: left;
	background-color: #e3e3e3;
	height: 100%

}*/

.dropdown_menu {
	position: absolute;
	width: 180px;
	top: 35px;
	right: 0px;
   	box-shadow: 10px 10px 5px grey;
   	text-align: center;

    border-radius: 2px;

    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.2);
    display: none;

	background: #ddd;
	overflow: hidden;

	z-index: 20;

}

.bottombackground {
	background: #323232;
	height: 10vw;
	width: 100%;
}
.nav{
	display: block;
	height: 40px;
	box-shadow: 10px;
	background: #333333;
	position: fixed;  
	top: 0px;
	
	z-index: 30;
	width: 100%;
	/*border-bottom-right-radius: 2px;
		border-bottom-left-radius: 2px;
	/*box-shadow: 0 0 0.5em rgba(0,0,0,0.6);
	box-shadow: 3px 3px 10px -1px rgba(128,128,128,0.64);*/
	box-shadow: 0px 3px 8px 1px rgba(158,158,158,0.53);
	}
.nav .flexbox-container {
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	float: right;
	border-radius: 1px;
	height: 40px;
	width: 100%
	position: absolute;
}
@media screen and (max-width: 600px){
 .nav .flexbox-container{
 	margin: auto;
 	float: right;

 }

 .nav .flexbox-container img{
 	display: none;
 }
 .nav .Search{
 	display: none;
 }
 .nav .slate-logo {
 	display: none;
 }
  .Searc-moblie {
 	display: block;
 }
 .dropdown_menu {
	position: absolute;
	width: 180px;
	top: 45px;
	right: 0px;
   	box-shadow: 10px 10px 5px grey;
   	text-align: center;

    border-radius: 2px;

    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.2);
    display: none;

	background: #ddd;
	overflow: hidden;

	z-index: 20;

	} 
}
@media screen and (min-width: 600px){
 	.Searc-moblie {
 		display: none;
	}
	.nav .Search{
 		display: inline-block;
 	}
}
.bitmap{
	height: 20px;
	/*transform: rotate(35deg);*/
	margin-left:6px;
}

.slate-logo {
	display: inline-block;

	height:auto;
	z-index: 31; 

	margin-left: 5px;
}

.nav .Search{
	/*display: inline-block;	*/
}
.nav .Search form input{
	border-radius: 2px;/*
	border: 1px solid #;*/

	border: none;
	
	padding: 0 0px 1px 5px;
	line-height: 30px;
	font-size: 16px;
	width:57px;
	height: 24px; 
	transition: width 100ms;
	/*color: white;*/
	/*transition-timing-function: cubic-bezier(0.4,0.8,0.2,0.5) ;*/
	box-shadow: none;
	background: #565656;
}

.nav .Search form input:focus{
	width: 160px;
	color: black;
	border-bottom: 1px solid #08a;
	height: 24px;
	padding: 0 0px 0 5px;
}

.menu {
	line-height: 38px;
	padding-left: 10px;
	padding-right: 10px;
}
.menu:hover {
	border-radius: 10px;
	background:#335F76;
}
.menu-text {
	font-size:20px;
	text-decoration:none;
	color:#fff;
}

.menu .dropdown_menu a {
	padding: 0 5px;
	font-weight: bold;
	text-decoration: none;	
	display: block;
	border-top: solid 1px #eee;
	border-bottom: solid 1px #888;
	color: black;
	font-size: medium;
}

.menu .dropdown_menu a:first-child {
	border-top: none;
}
.menu .dropdown_menu a:last-child {
	border-bottom: none;
}
.menu .dropdown_menu a:hover {
	background: #fff;
}
.menu:hover .dropdown_menu {
	display: block;
}

.calendar{
	padding: 25px 20px;
	background: white;
	text-align: center;
	display: inline-block;
}
.calendar-text {
	text-align: unset;
	width:320px;}
.calendar-span{
	font-size:30px;
	padding-left: unset;
	padding-right: 35px;
}
.slate-thing{
	margin-top: 35px;
	padding:15px;	
	font-size: 15px;
	font-family: Lato, "Lucida Grande", Verdana, "Helvetica Neue", sans-serif;

	border:2px solid #D4D4D4;
	background: #E5EBEE;
}
.slate-thing a{
	text-decoration:none;
	color:#861B8A;
}


.container-logo{
	padding: 15px 15px 25px 15px;
	
	background: rgba(233, 233, 233, 0.9);
}
.logo {
	margin:10px 10px 5px 10px;}
.logo img{
	/*float:left;*/
	width: 110px;
	margin-right:auto; 
	float: left;
	margin-left: 5px;
	margin-right: 3px;
}
.text-Academy {
	padding-top: 8px;
	font-size: 27px;
	color: #31A0DA;
}
.text-Open-source{
	font-size: 18px;

	color: #B49D94;
}
.main_content {
	position: relative;
}
/*Upcoming Events*/
.upcomingeventscontainer {
	margin-top: 70px;
}
.upcomingevents {
display: inline-block;
 margin-left: 30px;
}
.upcomingevents span{
	font-size: 30px;
	font-family: 'Crimson Text', serif;
}
.Searc-moblie{
 /*display: none	*/
}
.Searc-moblie form input{
	border-radius: 2px;/*
	border: 1px solid #;*/

	border: none;
	
	padding: 0 0px 1px 5px;
	line-height: 30px;
	font-size: 16px;
	width:57px;
	height: 24px; 
	transition: width 100ms;
	/*color: white;*/
	/*transition-timing-function: cubic-bezier(0.4,0.8,0.2,0.5) ;*/
	box-shadow: none;
	background: #efefef;
}

/*footer.css*/
.footer{

}
