.body-backround{
	z-index: 0;
	position: relative;
	width: 100%; 
	background-color: rgba(255,255,255, 0.3); }
.window{
	background-image: url(img/1x1-d4d4d49b.png);
	height:120px;
	z-index: 0;
	/*overflow-y: hidden;*/
	background-color:red ;
}	