body{
	    font-family: times;
	    font-family:'Crimson Text', serif;
}
.header {
		background: black;
		line-height: 40px;
		height: 40px;
		color: white;
}
.mainContent{

}

.footer {
	
}
.portfolio-colors {
	padding:10px;
	color: white;
}