body{
	    font-family: times;
	    font-family:'Crimson Text', serif;
}
.header{
		background: black;
		line-height: 40px;
		height: 40px;
		color: white;
}
.mainContent{



}

.footer {
	


}
.portfolio-colors {
	padding:10px;
	color: white;
	background:#ff00fb;
	background:#ffa200;
	background:#21d130;
	background:#21a5d1;
	background:#8b21d1;
	background:#213fd1;
	background:#a6a297;
}